@font-face {
    font-family: 'GeForce';
    src: url('./Geforce Font/GeForce-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: #222222;
    overscroll-behavior-y: none;
}

body {
    margin-left: 100px;
    margin-right: 100px;
    background-color: #222222;
    background-image: url('./no1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
    font-family: 'GeForce', sans-serif;
}

.button {
    background-color: #9ACD32;
    border: none;
    color: white;
    text-align: center;
    padding: 15px 32px;
    font-family: 'GeForce', sans-serif;
    font-size: 16px;
}
